# Section 1
```sql
-- 1.1 - 1.6
UPDATE evCars
SET Accel = rtrim(Accel, ' sec')

ALTER TABLE evCars
RENAME AccelSec to accelSec
-- I had to rename it twice because I spelled it incorrectly the first time 
```

# Section 2
```sql
-- 2.1 ad 2.2
SELECT TopSpeed, rtrim(TopSpeed, ' km/h')
FROM evCars

-- 2.3 and 2.4
UPDATE evCars
SET TopSpeed = rtrim(TopSpeed, ' km/h')

-- 2.5
SELECT TopSpeed FROM evCars

-- 2.6
SELECT TopSpeed, round(TopSpeed * 0.621371, 1)
FROM evCars

-- 2.6
UPDATE evCars
SET TopSpeed = round(TopSpeed * 0.621371, 1)

-- 2.7
ALTER TABLE evCars
RENAME TopSpeed to topSpeedMPH

-- 2.8
SELECT *
FROM evCars
```
# Section 3
```sql
-- 3.1
SELECT Range FROM evCars

-- 3.2 and 3.3
SELECT Range, rtrim(Range, ' km')
FROM evCars

-- 3.4
UPDATE evCars
SET Range = rtrim(Range, ' km')

-- 3.5
SELECT Range FROM evCars

-- 3.6
SELECT Range, round(range * 0.621371,1)
FROM evCars

UPDATE evCars
SET Range = round(range * 0.621371, 1)

-- 3.7
ALTER TABLE evCars
RENAME Range to rangeMiles

-- 3.8
SELECT * FROM evCars
```
# Section 4 
```sql
-- 4.1
SELECT Efficiency, FastCharge from evCars

-- 4.2 and 4.3
SELECT Efficiency, rtrim(Efficiency, ' Wh/km'), FastCharge, rtrim(FastCharge, ' km/h')
FROM evCars

-- 4.4
UPDATE evCars
SET 
Efficiency = rtrim(Efficiency, ' Wh/km'),
FastCharge = rtrim(FastCharge, ' km/h');

-- 4.5
SELECT Efficiency, FastCharge
FROM evCars

-- 4.6
SELECT FastCharge, round(FastCharge * 0.621371, 1) as OneHourFastChargeMiles
FROM evCars

UPDATE evCars
set FastCharge = round(FastCharge * 0.621371, 1)
-- 4.7
ALTER TABLE evCars
RENAME FastCharge to OneHourFastChargeMiles;
ALTER TABLE evCars
RENAME Efficiency to efficiencyWHperKM;

-- 4.8
SELECT *
FROM evCars
```
# Section 5
```sql
-- 5.1
SELECT RapidCharge, count(*)
FROM evCars
GROUP by RapidCharge

-- 5.2
UPDATE evCars
SET RapidCharge = 'Yes'
WHERE RapidCharge = 'Rapid charging possible';

UPDATE evCars
SET RapidCharge = 'No'
WHERE RapidCharge = 'Rapid charging not possible';
```
# Section 6
```sql
-- 6.1
SELECT PowerTrain, count(powerTrain) 
FROM evCars
GROUP by PowerTrain

-- 6.3
UPDATE evCars
SET PowerTrain = 'AWD'
WHERE PowerTrain = 'All Wheel Drive';

UPDATE evCars
SET PowerTrain = 'RWD'
WHERE PowerTrain = 'Rear Wheel Drive';

UPDATE evCars
SET PowerTrain = 'FWD'
WHERE PowerTrain = 'Front Wheel Drive';

-- 6.4
SELECT PowerTrain
from evCars
```
# Section 7
```sql
-- 7.1
SELECT PriceEuro, round(PriceEuro * 1.09, 2)
FROM evCars

-- 7.2
UPDATE evCars
SET PriceEuro = round(PriceEuro * 1.09, 2)

-- 7.3
ALTER TABLE evCars
RENAME PriceEuro to PriceUSD
```